/* Add this line in the <head> of your HTML file to include the Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Update your CSS to use the Quicksand font */
.content {
    font-family: 'Quicksand', sans-serif;
}

.content code:not(.code-block code) {
    color: #c97c2e;
  }

:root {
    --primary-hue: 100deg;
    --primary-saturation: 90%;
  }

:root {
    --primary-hue: 100deg;
    --primary-saturation: 90%;
  }